@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
                                                                   
                                                


.bg1{
    background-image: url(../imgs/bg1.png);
    height: 1000px;
    background-size: cover ;
    background-repeat: no-repeat;
}
img{
    width: 100%;
}
.logo{
    width: 350px;
}
.navbar{
    padding-left: 180px;
    padding-top: 50px;
    padding-right: 80px;
}
.nav-item{
    padding-right: 50px;
    color: #484848;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-item:hover{
    color: white;
}
.up{
    height: 40px;
    border-radius: 100px;
    background: #436331;
    color: white;
    text-align: center;
}
.up:hover{
    color: rgb(0, 0, 0);
    border: 1px solid;
    text-decoration: none;
    background-color: rgb(255, 255, 255);  
}
.bg_ulti{
    color: #484848;
    text-align: center;
    font-family: 'Poppins';
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -3.64px;
    margin-top: 100px;
}
.bg_sale{
    text-align: center;
    font-family: 'Shizuru';
    font-size: 187px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -10.285px;
}
.brand{
    padding-top: 80px;
    padding-bottom: 100px;
}
.bg2{
    background-color: aliceblue;
}
.deal_month{
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.deal{
    color: #484848;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pera1{
    color: #8A8A8A;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 50px;
}
.buy_now{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    border: 20px solid black;
    border-radius: 10px;
    background: #000;
    color: white;
    text-align: center;
}
.buy_now:hover{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);  
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 70px;
}
.late{
    margin-top: 100px;
    color: #484848;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.time{
    margin-top: 10px;
    border-radius: 1px;
    background: #FFF;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    padding-top: 20px;
    padding-bottom: 20px;
    color: #484848;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    font-family: 'Orbitron';
    text-align: center;
}
.days{
    color: #484848;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    text-align: center;
}
.slide1{
    padding-top: 100px;
    padding-bottom: 100px;
}
.slide2{
    padding-top: 100px;
    padding-bottom: 100px;
}
.slide3{
    padding-top: 100px;
    padding-bottom: 100px;
}
.new_arrivals{
    margin-top: 100px;
}
.arrival{
    color: #484848;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pera2{
    color: #8A8A8A;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 250px;
    padding-right: 250px;
}
.box1{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    background:#d4cbcb;
    border-radius: 10px solid;
    margin-right: 3px;
}
.fashion_box{
    color: #8A8A8A;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
  
    font-weight: 400;
    
    
}
.box{
    height: 524.916px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.06);
}
.new{
    border-radius: 10px;
    background: lightgray;
    height: 292.419px;
    margin-bottom: 10px;
}
.item_name{
    height: 35.953px;
    color: #484848;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.karam{
    height: 14.381px;
    color: #8A8A8A;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}
.cusriv{
    height: 21.572px;
    color: #484848;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.rate{
    height: 23.969px;
    color: #484848;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
}
.star{
    height: 22.77px;
     
}
.shop{
    height: 48px;
    color: #222;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 200px; 
    margin-bottom: 100px;
    text-align: center;
}
.shopcat1{
    position: relative;
    margin-bottom: 20px;
}
.shopcat2{
    padding-top: 50px;
    position: relative;
}
.txt1{
    position: absolute;
    bottom: 5%;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    opacity: 0.69;
    background: #D9D9D9;
    height: 49px;
    padding-left: 20px;
}
.bg3{
    background: #E8F3F7;
    margin-top: 100px;
    height: 800px;
}
.sale{
    color: #FF5849;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 150px;
}
.every{
    color: #222;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 40px;
}
.level{
    color: #222;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.38px;
    padding-bottom: 20px;
    padding-right: 100px;
}
.pera3{
    color: #808080;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 250px;
    padding-bottom: 20px;
}
.shop_now{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px ;
    background: #000;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
}
.sale_left{
    padding-left: 200px;
}
.sale_right{
    position: relative;
}
.sale_img{
    height: 800px;
}
.small_img{
    height: 350px;
    width: 350px;
    position: absolute;
    background: url('../imgs/sale2.png') no-repeat;
    bottom: 5%;
    left:-20%;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
}
.trending{
    color: #222;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.38px;
    margin-top: 150px;
}
.trent{
    padding-top: 50px;
    color: #222;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}
.pera4{
    padding-top: 20px;
    color: #808080;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.rate1{
    padding-bottom: 50px;
    color: #222;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.strike{
    color: #666;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: strikethrough;
}
.bg4{
    background: #F4F4F4;
    height: auto;
}
.peaky_left{
    padding-left: 200px;
}
.peaky_img{
    height: 1000px;padding-bottom: 50px;

}
.women{
    padding-top: 100px;
    padding-top: 100px;
    color: #767676;
    font-family: 'Poppins';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.peaky{
    padding-top: 30px;
    color: #484848;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lorem{
    padding-top: 30px;
    padding-bottom: 50px;
    color: #222;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}
.pera5{
    padding-top: 20px;
    color: #767676;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rate2{
    padding-top: 30px;
    padding-bottom: 100px;
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.buynow{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px ;
    background: #000;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
}
.bg5{
    background: #ddbfbf;
    height: auto;
}
.custam{
    margin-top: 80px;
    color: #484848;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pera6{
    padding-top: 20px;
    color: #8A8A8A;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}







.insta{
    padding-top: 100px;
    color: #484848;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.insta1{
    padding-top: 60px;
    height: 300px;
}
.pera7{
    padding-bottom: 100px;
    color: #8A8A8A;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.sub{
    margin-top: 100px;
}
.subtxt{
    padding-top: 200px;
    color: #484848;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pera8{
    padding-top: 20px;
    color: #8A8A8A;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.mail{
    padding-top: 20px;
    margin-bottom: 80px;
    text-align: center;
    color: #8A8A8A;
    font-family: 'Poppins';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    background: #FFF;
    box-shadow: 0px 6px 10px -7px rgba(0, 0, 0, 0.25);
}
.sub_now{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px ;
    background: #000;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.last{
    padding-top: 50px;
}
.last_img{
    height: 300px;
}
.icon_img{
    height: 50px;
}
.last_sec{
    margin-top: 100px;
}
.high{
    color: #484848;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.pera9{
    color: #484848;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.bg6{
    background: #F0F0F0;
    height: auto;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
}
.footer{
    color: #000;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.3%;
    padding-left: 30px;
}
.list{
    text-decoration: none;
    list-style: none;
    color: #808080;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .every, .sale {
        font-size: 45px;
    }
    .sale_left {
        padding-left: 20px;
    }
}
@media (min-width:1200px) and (max-width: 1399.98px) { 
    .every, .sale {
        font-size: 60px;
    }
    .sale_left {
        padding-left: 80px;
    }
}
@media (min-width:768px) and (max-width: 991.98px) { 
    .small_img{ 
        position:unset; display: block;
    }
}
@media (min-width:576) and (max-width:767){
    
}